.banner {
  position: relative;
  top: 10em;
  height: 600px;
  color: white;
  object-fit: contain;
}
.banner-contents {
  margin-left: 30px;
  padding-top: 250px;
  height: 190px;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
