header .navigation-home {
  background-color: black;

  position: fixed;
  color: #ffffff;
  top: 0;
  height: 75px;
  width: 100%;
  opacity: 0.9;
  z-index: 150;
}
.Logo-home {
  padding: 2px;
  float: left;
  text-decoration: none;
}
.Logo-home img {
  padding-left: 10px;
  margin-top: 15px;
  height: 50px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.movies {
  float: left;
  margin-top: 10px;
}
.movies a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 15px;
  text-decoration: none;
}
.movies a:hover {
  background-color: #111;
}

/* .Search {
  width: 100%;
}

.Search i {
  float: left;
  width: 20%;
  text-align: left;
  padding: 20px 20px;
  color: white;
  font-size: 30px;
} */

.dropdown a {
  float: right;
  text-decoration: none;
  color: #fff;
  margin-top: 9px;
}

.dropdown i {
  float: right;
  text-align: left;
  padding: 15px 15px;
  margin-right: 10px;
  color: white;
  font-size: 30px;
}
.dropdown-content {
  display: none;
  position: relative;
  width: 15%;
  float: right;
  margin-top: 70px;
  margin-right: 0px;
  background-color: #353935;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content p {
  text-align: center;
  color: #fff;
}
.btn-log-out {
  text-align: center;
  padding: 10px;
}
.btn-log-out button {
  background-color: darkred;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
