.profile-screen {
  height: 100vh;
  color: #fff;
  background-color: #000;
}

.profile-main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}
.profile-info {
  display: flex;
}

.profile-info img {
  height: 100px;
}

.profile-main h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profile-detail {
  color: white;
  margin-left: 25px;
  flex: 1;
}
.profile-detail h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}
.profile-signout {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  background-color: #e50914;
  border: none;
  color: #fff;
  cursor: pointer;
}
.profile-plan {
  margin-top: 20px;
}
.profile-plan h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}
