.movie-group {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
}
.movie-data {
  display: flex;
  overflow-x: scroll;
  cursor: pointer;
  object-fit: contain;
  padding: 10px;
}
.movie-data img {
  width: 320px;
  height: 320px;
  margin: 0.4em;
  border-radius: 2em;
}
.movie-data img:hover {
  transform: scale(1.08);
  opacity: 1;
}
.movie-data::-webkit-scrollbar {
  display: none;
}
.movie-title {
  margin-top: 65px;
  padding: 20px;
}

@media (min-width: 769px) and (max-width: 1199px) {
  .movie-data img {
    width: 300px;
    height: 320px;
    margin: 0.5em;
  }
}
@media screen and (max-width: 768px) {
  .movie-data img {
    width: 280px;
    height: 280px;
    margin: 0.6em;
    border-radius: 1em;
  }
  .movie-data img:hover {
    transform: scale(1.07);
    opacity: 1;
  }
}
